.card {
    width: 350px;
    height: 300px;
    margin-left: 10px;
    margin-right: 0px;
    // background: #000;
}

.textEdit {
    // width: 100%;
    height: 150px !important;
}

.border-back {
    border: 1px solid #00000000;
}